---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.lecture-container { display: flex; width: 100%; padding-top: 10px; padding-bottom: 10px; }
.lecture-container .thumbnail { width: 120px; }
.lecture-container .content { flex: 1; }

.previous-offerings { list-style-type: none; }
.previous-offerings li { display: inline-block; margin-right: 10px; }
.previous-offerings li::before { content: "● "; color: black; padding-right: 5px; }

.lecture-links { font-weight: bold; font-family: 'Titillium Web', sans-serif; }

.schedule-lecture-links { font-weight: normal; font-family: inherit; }