/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  display: inline-block; /* Ensures the link area can be transformed */
 
}

.list__item {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza a transição */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

.list__item:hover {
  transform: translateY(-5px); /* Levanta ligeiramente a div */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada para destacar */
}




.thumbnail {
  margin-right: 30px;
  transition: all 0.3s ease;
}

.content {
  transition: all 0.3s ease;
}

.archive__item:hover .thumbnail {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
  transform: scale(1.05); /* Zoom effect on hover */
}

.archive__item:hover .content {
  /* Apply styles for the content on hover, if needed */
}



