/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

   @keyframes intro {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .element {
    animation: intro 0.5s ease-out forwards;
  }
  
  a {
    position: relative;
    transition: color 0.3s ease;
    color: #000;
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
  }
  
  a:hover::after {
    width: 100%;
  }
  
  a:hover {
    color: #0092ca; /* Slightly darken the link color on hover */
  }
  

.list__item {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza a transição */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

.list__item:hover {
  transform: translateY(-5px); /* Levanta ligeiramente a div */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada para destacar */
}



.thumbnail {
  margin-right: 30px;
  transition: all 0.3s ease;
}

.content {
  transition: all 0.3s ease;
}

.archive__item:hover .thumbnail {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
  transform: scale(1.05); /* Zoom effect on hover */
}

.archive__item:hover .content {
  /* Apply styles for the content on hover, if needed */
}



